@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245, 245, 245;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 245, 245, 245;
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
